.gradle
.idea
.kotlin
.vscode
*.aar
!TMessagesProj/libs/glyph-matrix-sdk-2.0.aar
*.so
*.iml
**/.DS_Store
build/
obj/
local.properties
TMessagesProj/.cxx/
TMessagesProj/jniLibs/
TMessagesProj/jniRes/
TMessagesProj/afat/
TMessagesProj/jni/ffmpeg/build_android

# Python-артефакты
__pycache__/
*.pyc

# JVM crash dumps
hs_err_pid*.log
replay_pid*.log

# Ключ подписи
TMessagesProj/release.keystore
TMessagesProj/release/
tests/local/
hs_err_*
release_apk_latest/
release_apk/
photo_*.jpg
video_*.mp4
replay_pid*.log
*.log
*.plugin
*.dex
*.eaf
*.apk
*.keystore
*.bak
# Web-артефакты
node_modules/
dist/

CustomProfile_java_src/
*.mp4
!TMessagesProj/src/main/assets/musordrop.mp4
!TMessagesProj/src/main/assets/plugins/
!TMessagesProj/src/main/assets/plugins/**
!assets/musordrop.mp4

